{% extends 'Sales/base.html' %}


{% block content %}
<div class="card border-dark mb-3">
  <div class="card-body mb-2">
<center><div class="container border border-secondary" style="background-color: lightgrey">
<h1>Import Files</h1>
</div></center>
</br>
<div class="mb-3">
  <label for="formFileMultiple" class="form-label"><h4>File Import 1</h4></label>
  <input class="form-control form-control-lg" type="file" id="formFileMultiple" multiple>
  <div class="col-3" style="padding-top: 38px">
    <button type="text" class="btn btn-outline-primary col-4">Submit</button>
  </div>
</div>
  </div>
</div>


<div class="card border-dark mb-3">
  <div class="card-body mb-2">
</br>
<div class="mb-3">
  <label for="formFileMultiple" class="form-label"><h4>File Import 2</h4></label>
  <input class="form-control form-control-lg" type="file" id="formFileMultiple2" multiple>
  <div class="col-3" style="padding-top: 38px">
    <button type="text" class="btn btn-outline-primary col-4">Submit</button>
  </div>
</div>
  </div>
</div>

<div class="card border-dark mb-3">
  <div class="card-body mb-2">
</br>
<div class="mb-3">
  <label for="formFileMultiple" class="form-label"><h4>File Import 3</h4></label>
  <input class="form-control form-control-lg" type="file" id="formFileMultiple3" multiple>
  <div class="col-3" style="padding-top: 38px">
    <button type="text" class="btn btn-outline-primary col-4">Submit</button>
  </div>
</div>
  </div>
</div>


<div class="card border-dark mb-3">
  <div class="card-body mb-2">
</br>
<div class="mb-3">
  <label for="formFileMultiple" class="form-label"><h4>File Import 4</h4></label>
  <input class="form-control form-control-lg" type="file" id="formFileMultiple4" multiple>
  <div class="col-3" style="padding-top: 38px">
    <button type="text" class="btn btn-outline-primary col-4">Submit</button>
  </div>
</div>
  </div>
</div>
{% endblock %}
